@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Shadows+Into+Light&family=Sigmar+One&family=Updock&display=swap');



body {
   
    background: rgb(216, 231, 236);
}



   h1{
    font-family: "Imperial Script", cursive;
    font-size: 90px;
    text-align:center;
     background-color: beige;
     border: 20px dotted  rgb(10, 63, 14);
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
   }
ul{
  color: darkblue;
    font-weight:300;
    font-style:italic;
    font-size:34px;
    font-family:Georgia, 'Times New Roman', Times, serif
   


}
a{
color: darkblue;
    font-weight:300;
    font-style:italic;
    font-size:34px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
ol{
    color: teal;
    font-weight:300px;
    font-style:italic;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
    
h2{

    color: ;
    font-weight:300;
    font-style:italic;
    font-size:34px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
img{
     height: 255px;
    border-width: 14px;
    border-style: solid;
    border-color: rgb(10, 63, 14);
    box-shadow: black 0 0 10px;
}
li{
    padding: 25px;
    margin: 10px
}
a{
    background-color:rgb(216, 231, 236);
    border : 2px solid black;

    
}
    
 
    
